* {
  margin: 0;
  box-sizing: border-box;
}
.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 50px;
  background-color: #3dc03d;
}
.navbar__img {
  width: 120px;
}
.navbar__links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}
.nav__link:hover {
  opacity: 70%;
}

.active {
  color: red;
}
