* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: url(../public/images/fondo3.jpg);
  background-size: cover;
  min-width: 375px;
}
.container__home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}
.container__title {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  box-shadow: 5px 5px 7px #000000;
  background-image: url(../public/images/poke2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container__fondo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__fondo__img {
  width: 100%;
  max-width: 800px;
}
.navbar__img {
  width: 120px;
}
.navbar__links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.nav__link,
.inactive__2 {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
}
.nav__link:hover {
  opacity: 70%;
}
.active {
  color: #ffd104;
  text-decoration: underline;
  font-size: 1.3rem;
  font-weight: 700;
  -webkit-text-stroke: 1px black;
}
.inactive {
  color: #000000;
}
.Pokemon__title {
  margin-top: 40px;
  text-align: center;
  color: #fff;
}
.pokemon__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.pokemon__input {
  width: 100%;
  height: 35px;
  font-size: 1.1rem;
  border-radius: 8px;
  padding: 0 10px;
}
.pokemon__btn {
  width: 100%;
  height: 35px;
  border-radius: 8px;
}
.card_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  margin: 50px 20px;
  border-radius: 20px;
  color: #fff;
  padding: 0 15px;
}
.card__img {
  width: 100%;
}
.card__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 576px) {
  .container__title {
    font-size: 3rem;
  }
  .nav__link {
    font-size: 1.8rem;
  }
  .navbar__container {
    padding: 0 50px 40px;
  }
  .navbar__links {
    flex-direction: row;
    align-items: flex-start;
  }
  .inactive {
    color: #fff;
  }
  .pokemon__input,
  .pokemon__btn {
    max-width: 500px;
  }
}
